@{
}
<h2>Actualizar Datos</h2>
<h3>Selecciona los datos que deseas cambiar</h3>
<link href="~/css/UpdateDataStyle.css" rel="stylesheet" asp-append-version="true" />
<div class="options">
    <label>
        <input type="radio" name="option" value="nombre" onclick="showInput('nombre')">
        Nombre
    </label>
    <div id="nombreInput" class="hidden">
        <input type="text" placeholder="Ingresa el nuevo nombre">
    </div>

    <label>
        <input type="radio" name="option" value="apellido" onclick="showInput('apellido')">
        Apellido
    </label>
    <div id="apellidoInput" class="hidden">
        <input type="text" placeholder="Ingresa el nuevo apellido">
    </div>

    <label>
        <input type="radio" name="option" value="email" onclick="showInput('email')">
        Email
    </label>
    <div id="emailInput" class="hidden">
        <input type="text" placeholder="Ingresa el nuevo email">
    </div>


    <label>
        <input type="radio" name="option" value="contrasena" onclick="showInput('contrasena')">
        Contraseña
    </label>
    <div id="contrasenaInput" class="hidden">
        <input type="password" placeholder="Ingresa la contraseña actual">
        <input type="password" placeholder="Ingresa la nueva contraseña">
    </div>
</div>
<div class="ActionButtons">
    <button class="btn-actualizar" id="btnout">Salir</button>
    <button class="btn-actualizar">Actualizar</button>
</div>
<script src="~/js/updatedatafy.js" asp-append-version="true"></script>
<script>
    window.redirectToMenu = '@Url.Action("Menu", "Menu")';
</script>