@{
   
}

<link href="~/css/register.css" rel="stylesheet" />
<h2>REGISTRO</h2>
<h3>Ingresa los siguientes datos para ser parte de PUERBANCO</h3>

<form action="#" method="post">
    <div class="input-group">
        <input type="text" placeholder="Nombre" required>
    </div>
    <div class="input-group">
        <input type="text" placeholder="Apellido" required>
    </div>
    <div class="input-group">
        <input type="email" placeholder="Correo Electrónico" required>

    </div>
    <div class="input-group">
        <input type="text" placeholder="Contraseña" required>
    </div>
    <div class="input-group">
        <input type="password" placeholder="Confirmar Contraseña" required>
        <span class="show-password">👁️</span>
    </div>
    <button type="submit" class="login-btn" id="Register-btn">Registrar</button>
</form>
<p>¿Ya tienes una cuenta? <a asp-action="Index" asp-controller="Home">Inicia sesión</a></p>

<script src="~/js/registerfy.js" asp-append-version="true"></script>
<script>
    window.redirectToIndex = '@Url.Action("Index", "Home")';
</script>
