@model Proyecto_Herramientas.ViewModels.ATMViewModel
@{
}
<link href="~/css/atmcheckinintereststyle.css" rel="stylesheet" asp-append-version="true"/>
<h1>Sr/a @Model.User.FirstName @Model.User.LastName</h1>
<p>Los intereses de su cuenta de ahorros #@Model.Account.AccountNumber son</p>
<h2>@ViewBag.SaldoFinal.ToString("C")</h2>
<button type="button" class="login-btn" id="Botonsalir">Regresar</button>
<script src="~/js/atmcheckininterestfy.js" asp-append-version="true"></script>
<script>
    window.redirectToATM = '@Url.Action("ATM", "ATM")';
</script>
