@{
}
<link href="~/css/atmcheckinintereststyle.css" rel="stylesheet" asp-append-version="true"/>
<h1>Sr/a Karen Garzon</h1>
<p>Los intereses de su cuenta de ahorros #00000000 son</p>
<h2>$00000000000</h2>
<button type="button" class="login-btn" id="Botonsalir">Regresar</button>
<script src="~/js/atmcheckininterestfy.js" asp-append-version="true"></script>
<script>
    window.redirectToATM = '@Url.Action("ATM", "ATM")';
</script>
