@{
    var typeIdError = ViewData.ModelState["typeId"]?.Errors.FirstOrDefault()?.ErrorMessage;
}

<h2>Seleccione el tipo de cuenta que desea crear</h2>
<link href="~/css/CreateAcStyle.css" rel="stylesheet" asp-append-version="true" />
@if (!string.IsNullOrEmpty(typeIdError))
{
    <div class="alert alert-danger">@typeIdError</div>
}
<form method="post" asp-action="Create">
    <div class="Accounts">
        <div class="SavingAccount" onclick="selectAccount('ahorros')">
            <img src="~/img/iconoahorros (1).png" alt="Ahorros" class="ImgAccount" />
            <label>
                <input type="radio" name="typeId" value="1" id="ahorros" /> <!-- Ajusta el valor según el ID de tipo de cuenta de Ahorros -->
                Ahorros
            </label>
        </div>
        <div class="CheckingAccount" onclick="selectAccount('corriente')">
            <img src="~/img/iconoCorriente (1).png" alt="Corriente" class="ImgAccount" />
            <label>
                <input type="radio" name="typeId" value="2" id="corriente" /> <!-- Ajusta el valor según el ID de tipo de cuenta Corriente -->
                Corriente
            </label>
        </div>
    </div>
<div class="ActionButtons">
    <button type="button" class="login-btn" id="btn-outca">salir</button>
    <button type="submit" class="login-btn" id="CreateAccount">Crear Cuenta</button>
</div>
</form>
<script src="~/js/CreateAccountFuncionality.js" asp-append-version="true"></script>
<script>
    window.redirectToMenu = '@Url.Action("Menu", "Menu")';
</script>
