@{
}

<h2>Seleccione el tipo de cuenta que desea crear</h2>
<link href="~/css/CreateAcStyle.css" rel="stylesheet" asp-append-version="true" />
<div class="Accounts">
    <div class="SavingAccount" onclick="selectAccount('ahorros')">
        <img src="~/img/iconoahorros (1).png" alt="Ahorros" class="ImgAccount" />
        <label>
            <input type="radio" name="tipo" id="ahorros" />
            Ahorros
        </label>
    </div>
    <div class="CheckingAccount" onclick="selectAccount('corriente')">
        <img src="~/img/iconoCorriente (1).png" alt="Corriente" class="ImgAccount" />
        <label>
            <input type="radio" name="tipo" id="corriente" />
            Corriente
        </label>
    </div>
</div>
<div class="ActionButtons">
    <button type="button" class="login-btn" id="btn-outca">salir</button>
    <button type="button" class="login-btn" id="CreateAccount">Crear Cuenta</button>
</div>
<script src="~/js/CreateAccountFuncionality.js" asp-append-version="true"></script>
<script>
    window.redirectToMenu = '@Url.Action("Menu", "Menu")';
</script>
