﻿@{


}

<h2>BIENVENIDO/A AL BANCO MAS GRANDE DEL MUNDO</h2>
<link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
<form method="post" action="@Url.Action("Login", "Home")" id="loginForm">
    <div class="input-group">
        <input type="email" name="Email" placeholder="Correo electrónico" required>
        <i class="fa-solid fa-envelope"></i>
    </div>
    <div class="input-group">
        <input type="password" name="Password" placeholder="Contraseña" required>
        <i class="fa-solid fa-lock"></i>
        <span class="show-password"></span>
    </div>
    <button type="submit" class="login-btn" id="BotonInicioS">Iniciar sesión</button>
</form>
<p>¿Todavía no tienes una cuenta? <a asp-action="Register" asp-controller="Register">Regístrate</a></p>
<script src="https://kit.fontawesome.com/15b1ba9d54.js" crossorigin="anonymous"></script>

<script>

</script>