@{
    Layout = null;
}
<link href="~/css/CRUDStyle.css" rel="stylesheet" asp-append-version="true"/>
<body>
    <div class="contenedor">
        <!-- Header -->
        <header id="main-header" class="header">
            <i class="fa-solid fa-bars" onclick="toggleMenu()"></i>
            <div class="userop">
                <div class="info-usuario">
                    <span>Pepito Pérez</span><br>
                    <span>Administrador</span>
                </div>
                <i class="fa-solid fa-user"></i>
            </div>
        </header>

        <!-- Menú lateral -->
        <div id="menuLateral" class="menu-lateral">
            <i class="fa-solid fa-xmark" onclick="toggleMenu()"></i>
            <img src="/img/a3212b9b-7fc8-423e-94ee-22ccb23b0b19 (1).png" alt="Logo" class="menu-logo">
            <h3>Filtrar datos</h3>
            <form id="filtro-datos">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre">

                <label for="apellido">Apellido</label>
                <input type="text" id="apellido">

                <label for="tipo-cuenta">Tipo de Cuenta</label>
                <input type="text" id="tipo-cuenta">

                <button type="submit">Filtrar</button>
            </form>
        </div>
        <!-- Contenido de la página principal -->
        <div id="contenidoPrincipal" class="contenido-principal">
            <table class="tabla-clientes">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>ID Cliente</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Filas de ejemplo -->
                    <tr>
                        <td>
                            <button class="action-btn view-accounts" onclick="mostrarCuentas(this)"><i class="fa-solid fa-eye"></i></button>
                            <button class="action-btn edit-accounts"><i class="fa-solid fa-pen"></i></button>
                            <button class="action-btn delete-accounts"><i class="fa-solid fa-trash"></i></button>
                        </td>
                        <td>1394302948</td>
                        <td>Alberto</td>
                        <td>López Loaiza</td>

                    </tr>
                </tbody>
            </table>

            <table class="tabla-cuentas" style="display: none;">
                <thead>
                    <tr>
                        <th>Acción</th>
                        <th>Num Cuenta</th>
                        <th>Tipo Cuenta</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button class="action-btn view-movements">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                            <button class="action-btn delete-account">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                        <td>129475391</td>
                        <td>Ahorro</td>
                        <td>20,000.00$</td>
                    </tr>
            </table>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/15b1ba9d54.js" crossorigin="anonymous"></script>
    <script src="/js/CRUDFY.js" asp-append-version="true"></script>
</body>