* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estructura principal */
body, html {
    height: 100%;
    overflow:hidden;
}

.right-section {
    overflow: hidden; /* Desactiva el scroll */
    height: 100%;
}

.right-section h2 {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
}

.right-section p {
    font-size: 27px;
    color: #737373;
    text-align: center;
    font-weight: bold;
    margin-bottom:10px;
}

.Movements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.btnMovement {
    padding: 15px 25px;
    background: linear-gradient(135deg, #e94057, #f27121);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    flex: 1 1 45%;
}

    .btnMovement:hover {
        background: linear-gradient(135deg, #f27121, #e94057);
    }

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
    width: 100%;
}

.custom-input {
    padding: 20px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

    .custom-input:focus {
        border: 1px solid #e94057;
    }

.ActionButtons {
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top:50px;
}

.login-btn {
    background: linear-gradient(135deg, #e94057, #f27121);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    width: 200px;
}

    .login-btn:hover {
        background: linear-gradient(135deg, #f27121, #e94057);
    }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

h3 {
    text-align: center;
    color: #737373;
    font-size: 27px;
    margin-top:20px;
}

/* CSS para las alertas */
.alert {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
