* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

    .right-section .title {
        font-size: 32px;
        color: #333;
        text-transform: uppercase;
        width: 100%;
        text-align:center;
    }

    .right-section .user-name {
        font-size: 18px;
        margin: 10px 0;
        color: #737373;
    }

    .right-section .description {
        font-size: 18px;
        margin-bottom: 50px;
        color: #737373;
    }

.table-container {
    width: 100%; /* Puedes ajustar el ancho según tus necesidades */
    max-height: 400px; /* Altura máxima fija para el contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    margin: 0 auto; /* Centra el contenedor si es necesario */
    margin-bottom:20px;
}

/* Estilo para la tabla */
.movements-table {
    width: 100%; /* Ocupa el ancho total del contenedor */
    border-collapse: collapse;
}
    .movements-table th, .movements-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
    }

    .movements-table th {
        background-color: #f27121;
        color: white;
        text-transform: uppercase;
    }

    .movements-table td {
        background-color: #f9f9f9;
    }

    .movements-table tr:nth-child(even) td {
        background-color: #f1f1f1;
    }

    .movements-table th:nth-child(1),
    .movements-table td:nth-child(1) {
        width: 100px; /* Ajusta el ancho según tus necesidades */
    }    .movements-table th:nth-child(2),
    .movements-table td:nth-child(2) {
        width: 150px; /* Ajusta el ancho según tus necesidades */
    }
    .movements-table th:nth-child(3),
    .movements-table td:nth-child(3) {
        width: 150px; /* Ajusta el ancho según tus necesidades */
    }    
    .movements-table th:nth-child(4),
    .movements-table td:nth-child(4) {
        width: 120px; /* Ajusta el ancho según tus necesidades */
    }    
    .movements-table th:nth-child(5),
    .movements-table td:nth-child(5) {
        width: 120px; /* Ajusta el ancho según tus necesidades */
    }

.back-btn {
    background: linear-gradient(135deg, #e94057, #f27121);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

    .back-btn:hover {
        background: linear-gradient(135deg, #f27121, #e94057);
    }
