* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Sección izquierda */
.left-section {
    flex: 0 0 40%; /* Establece que ocupe el 50% del ancho */
    background: linear-gradient(135deg, #e94057, #f27121);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky; /* Fija la sección */
    top: 0; /* Se mantiene en la parte superior al hacer scroll */
    box-shadow: inset -20px 0px 15px rgba(0, 0, 0, 0.20);
    overflow: hidden; /* Oculta el desbordamiento */
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Efectos decorativos en la izquierda */
.left-section::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 70%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.left-section::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.left-section p {
    font-size: 18px;
    margin: 0;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

/* Sección derecha */
.right-section {
    flex: 0 0 60%; /* Establece que ocupe el 50% del ancho */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: -20px 0px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Activa el scroll vertical */
    height: 100vh; /* Asegura que ocupa toda la altura de la ventana */
}

    .right-section h2 {
        font-size: 50px;
        margin-bottom: 40px;
        color: #333;
        text-align: center;
    }

    .right-section h3 {
        font-size: 25px;
        margin-bottom: 20px;
        color: #737373;
        text-align: center;
        font-weight: 600;
    }

.input-group {
    position: relative;
    margin-bottom: 20px;
}

    .input-group input {
        width: 100%;
        padding: 12px 15px;
        border: 2px solid #333;
        border-radius: 5px;
        font-size: 14px;
    }

.login-btn {
    background: linear-gradient(135deg, #e94057, #f27121);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

    .login-btn:hover {
        background: linear-gradient(135deg, #f27121, #e94057);
    }

.right-section p {
    margin-top: 10px;
    font-size: 15px;
}

.right-section a {
    color: #e94057;
    text-decoration: none;
}

    .right-section a:hover {
        text-decoration: underline;
    }
