/* Estructura principal */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.right-section h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.right-section h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #737373;
    text-align: center;
    font-weight: 600;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

    .input-group input {
        width: 100%;
        padding: 12px 15px;
        border: 2px solid #333;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }


.login-btn {
    background: linear-gradient(135deg, #e94057, #f27121);
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

    .login-btn:hover {
        background: linear-gradient(135deg, #f27121, #e94057);
    }


.right-section p {
    margin-top: 10px;
    font-size: 15px;
}

.right-section a {
    color: #e94057;
    text-decoration: none;
}

    .right-section a:hover {
        text-decoration: underline;
    }


/* Estilos para mensajes de alerta */
.alert.alert-danger {
    color: #721c24; /* Color de texto para el mensaje */
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    max-width: 350px;
    box-sizing: border-box;
    background-color: #f8d7da;
    color: #721c24;
    margin: 0 auto 20px; /* Centrado y separación inferior */
    padding: 15px 20px;
}

    /* Ícono de advertencia (opcional) */
    .alert.alert-danger::before {
        content: "⚠️";
        font-size: 30px;
        margin-right: 20px;
    }

/* Mensaje de error en la vista centrada */
.right-section .alert.alert-danger {
    margin: 0 auto 20px; /* Centramos el mensaje en el contenedor */
}


.error-message {
    color: #e94057; /* Color de mensaje de error */
    font-size: 14px;
    margin-top: 5px;
    font-weight: 600;
}
